<%= form_for(@order) do |f| %>

    <div class="container input-field col s12">
      <%= f.fields_for :order_items do |ff| %>
          <%= ff.collection_select :product_id, Product.all, :id, :name, include_blank: true %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Add New Item', class: 'btn' %>
      <%= f.submit 'Transfer to Kitchen', class: 'btn blue' %>
      <%= f.submit 'Cancel', class: 'btn red' %>
    </div>
<% end %>
