<p id="notice"><%= notice %></p>

<p>
  <strong>Step:</strong>
  <%= @order.step %>
</p>

<%= @order.total_price %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
