<nav class="top-nav">
  <div class="nav-wrapper grey">
    <%= link_to 'Bar Manager', root_path, class: 'brand-logo center', target: '_self' %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <%= render partial: 'layouts/menu_item', locals: menu_item_new %>
      <%= render partial: 'layouts/menu_item_with_badge', locals: menu_item_queued if Order.queued.count > 0 %>
      <%= render partial: 'layouts/menu_item_with_badge', locals: menu_item_in_progress if Order.in_progress.count > 0 %>
      <%= render partial: 'layouts/menu_item_with_badge', locals: menu_item_ready if Order.ready.count > 0 %>
      <%= render partial: 'layouts/menu_item', locals: menu_item_released %>
    </ul>
  </div>
</nav>